---
title: RISC-V Europe
layout: default
---

{% include jumboboxstart.html
    img = "summit/2024/media/banners/banner.png"
    imglink = "summit/2024"
    title = "RISC-V Summit Europe 2024"
    lead = "RISC-V Summit return to Europe in 2024. It will take place in Munich on June 24-28, 2024."
%}
<div class="text-center">
    <a href="summit/2024" class="btn btn-primary btn-lg">Learn More</a>
</div>
{% include jumboboxend.html %}


{% include jumboboxstart.html
    img = "summit/2023/media/banners/banner.jpg"
    imglink = "summit/2023"
    title = "RISC-V Summit Europe 2023"
    lead = "The first RISC-V Summit Europe was held in Barcelona on June 05-09, 2023."
%}
<div class="text-center">
    <a href="summit/2023" class="btn btn-primary btn-lg">Recap the highlights</a>
</div>
