<div class="container mb-3" id="{{ include.title | slugify }}">
    <div {% if include.id %}id="{{ include.id }}"{% endif %} class="p-3 bg-body-tertiary rounded-3" markdown="1">
{% if include.img %}
{% if include.imglink %}<a href="{{ include.imglink }}">{% endif %}
<img src="{{ include.img }}" width="100%">
{% if include.imglink %}</a>{% endif %}
{% endif %}
{% if include.title %}
<h1 class="text-body-emphasis text-center my-3">{{ include.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
{% endif %}
{% if include.lead %}
<p class="lead text-center mb-4">{{ include.lead | markdownify | remove: '<p>' | remove: '</p>' }}</p>
{% endif %}
